@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,100;0,500;0,700;0,900;1,100 & display=swap');

*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway";
    }

    *   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway";
    }

body { 
        background-color: #cfcba6;
     } 

img {
        max-width: 100%;
    }

.top {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo" "banner-sup" "user";
}

.banner-sup{
    width: 100%;
}

.logo {
        padding: 1rem;
      }

.logo>h1 {
        display: none;
}

.login {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 1rem;
        gap: 0.5rem;
        font-size: 18px;
        font-weight: 500;
        list-style-type: none;  
        align-items: center;
}


.txt-log {
    font-size: 14px;
    color: #1a4e52;
}

.usuario {
    display: flex;
    flex-direction: row;
}

.iconredes {
    margin-top: 30px;
}
.user {
    background-color: #78cc47;
    color: #1a4e52;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.nav {
    position: sticky;
    width: 100%;
    top: 0;
}
 
.menu {     
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #2d6a75cc;
    padding: 0.5rem;

}

.menu-link {
    color: #cfcba6;
    text-decoration: none;
    font-family: Raleway;
    font-size: 0.75rem;
    font-weight: 500;
}

.photo-slide {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    justify-content: center;

}

.productos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.image-product {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    

}

.slide1 {
    border-radius: 10px;
    border-color: #bcac82;
    border: 2px;
}

.photo-description {
    display: flex;
    justify-content: center;
    padding-left: 15rem;
    padding-right: 15rem;
    /* width: 80vh; */
    margin-bottom: 3rem;
}

.photo-description>p {
    color: #2d6a75;
    font-size: 12px;
    /* margin-bottom: 1rem; */

}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d6a75;
    font-size: 1.3rem;
    text-align: justify;
    margin: bottom 1rem;
}

.columna>p {
    width: 75%;
    padding-bottom: 1rem;
}

.servicios-jt {
    background-color: #bcac82;
    color: #2d6a75;
    padding-block: 2rem;
    position: relative;
}

.servicio-base {
    max-width: 1000px;
    display: flex;
    margin-inline: auto;
    gap: 2rem;
}

.servicio {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
}

.servicio>h3 {
    color: #1a4e52;
    font-weight: 700;
}

.autos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.futbol {
    border-top: #1a4e52;
    border: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-product>p {
    color: #2d6a75;
    background-color: #bcac82;
    font-weight: 700;

}

/*se agrega grid al footer
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu-footer" "pago-footer" "atencion-footer" "politicas-footer" "mapa-footer";
    background-color: #1a4e52;
    align-items: start;
    */

.footer {
    display: flex;
    justify-content: center;
   background-color: #1a4e52;
   padding-left: 2rem;
   padding-right: 2rem;
}

.footer > * {
    width: 100%;
}

.menu-footer {
    /* margin-left: 2rem; */
	   padding: 1rem;
       list-style-type: none;

}

.info-footer {
    /* display: flex;
    justify-content: center; */
    gap: 1rem;
}

.footer-block {
    margin-top: 1rem;
}

.footer-item {
    font-size: 14px;
    font-weight: 100;
    padding: 5px;
    color: #cfcba6;
    text-decoration: none;
    display: block;
}

h3 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    color: #78cc47;
}

/*
    paleta de colores
    beige fuerte: #bcac82
    beige claro: #cfcba6
    azul oscuro: #1a4e52
    azul claro: #2d6a75
    verde: #78cc47
*/
  

@media (min-width: 768px) and (max-width: 1024px) {
    .top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
}
.logo{
    grid-column: 1/3;
    grid-row: 1/2;
}

.login{
    grid-column: 3/5;
    grid-row: 1/2;
}

.banner-sup{
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.menu-link {
    color: #cfcba6;
    text-decoration: none;
    font-family: Raleway;
    font-size: 0.5rem;
    font-weight: 500;
}

h3 {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    color: #78cc47;
}

}
@media (min-width: 576px) and (max-width: 768px) {
    .top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
}
.logo{
    grid-column: 1/3;
    grid-row: 1/2;
}

.login{
    grid-column: 3/5;
    grid-row: 1/2;
}

.banner-sup{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
}

.menu-link {
    color: #cfcba6;
    text-decoration: none;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
}
h3 {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    color: #78cc47;
}
}

@media (min-width: 320px) and (max-width: 576px) {
    .top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
}
.logo{
    grid-column: 1/3;
    grid-row: 1/2;
}

.login{
    grid-column: 3/5;
    grid-row: 1/2;
}

.banner-sup{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
}
.menu-link {
    color: #cfcba6;
    text-decoration: none;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 500;
}
h3 {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    color: #78cc47;
}
}